{% extends "game/base.html" %}
{% block content %}

<div class="container mt-4 text-center">
    <h1 class="text-center">{{ post.title }} ({{ post.type }})</h1>
    <h4 class="text-center text-primary">{{ post.genre }}</h4>
    <img src="{{ post.feature_photo.url }}" class="my-4 col-6 rounded col-10 col-lg-6 col-md-6 col-sm-6">
    <p style="text-align: left; font-size:1.2rem;">{{ post.details }}</p>
    <img src="{{ post.images1.url }}" class="my-4 col-6 rounded col-10 col-lg-6 col-md-6 col-sm-6">
    <img src="{{ post.images2.url }}" class="my-4 col-6 rounded col-10 col-lg-6 col-md-6 col-sm-6">

    <!-- {% for image in images %}-->
    <!--  {% if image.game.title == post.title %}-->
    <!--   <img src="{{ image.images.url }}" class="my-4 col-6 rounded col-10 col-lg-6 col-md-6 col-sm-6">-->
    <!--  {% endif %}-->
    <!-- {% endfor %}-->


    <h2 style="text-align: left;" class="text-grey">Comment:</h2>
    <div class="line" style="height: 3px;width: 8rem; background-color: blue;"></div>
    {% if user.is_authenticated %}
    <form style="text-align:left" class="" method="POST">
        {% csrf_token %}
        <!--            {{ comment_form }}-->
        <label for="id_game_comment">Create a comment:</label><input class="form-control" type="text"
                                                                     name="game_comment" maxlength="200" required=""
                                                                     id="id_game_comment">
        <button type="submit" class="mt-2 btn btn-primary">Submit</button>
    </form>
    {% endif %}

    {% for com in comment %}
    {% if com.game.title == post.title %}
    <div class="container mt-4 border border-grey">
        <p style="text-align:left">{{ com.commenter }}: {{ com.time }}</p>
        <p style="text-align:left" class="text-success h6"> {{ com.game_comment }}</p>
    </div>
    {% endif %}
    {% endfor %}

</div>


{% endblock %}